**/__pycache__
**/.DS_Store
.vscode/

# folders
weights/
output/
wandb/

# data folders
tempData_Austria_Salzburg_Villach/
tempData_Austria_Salzburg_Villach_out/
tempData_Austria_Salzburg_Villach_jsons/
seqData/
seqData_jsons/
seqData_out/

# data files
# videos leider zu groß für github
temporalDataset_video.mp4
temporalDataset_video_out.mp4
Video_1.mp4
Video_2.mp4
Video_3.mp4
Video_1_out.mp4
Video_2_out.mp4
Video_3_out.mp4

# alle test files (beginnen alle mit 'test_')
test_* 

# videos von allen finalen auswertungen
final_temporal_auswertungen/kind-waterfall-363.mp4
final_temporal_auswertungen/autumn-valley-364.mp4
final_temporal_auswertungen/dandy-totem-361.mp4
final_temporal_auswertungen/silvery-field-386.mp4
final_temporal_auswertungen/fanciful-dream-388.mp4
final_temporal_auswertungen/morning-dawn-358.mp4
final_temporal_auswertungen/neat-water-359.mp4
final_temporal_auswertungen/twilight-monkey-362.mp4
final_temporal_auswertungen/trim-pyramid-387.mp4
final_temporal_auswertungen/stellar-plant-360.mp4
final_temporal_auswertungen/single-frame-based.mp4

# videos von allen finalen auswertungen
final_temporal_evaluations/single-frame-based.mp4
