**/__pycache__
**/.DS_Store
.vscode/

# folders
weights/
output/
wandb/

# data folders
tempData_Austria_Salzburg_Villach/
tempData_Austria_Salzburg_Villach_out/
tempData_Austria_Salzburg_Villach_jsons/
seqData/
seqData_jsons/
seqData_out/

# data files
temporalDataset_video.mp4
temporalDataset_video_out.mp4
Video_1.mp4
Video_2.mp4
Video_3.mp4

# alle test files (beginnen alle mit 'test_')
test_* 

